In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window
spark = SparkSession.builder.appName("Ex_swap_seats").master("spark://spark-master:7077").getOrCreate()

# Problem

Write a solution to swap the seat id of every two consecutive students. If the number of students is odd, the id of the last student is not swapped.

Return the result table ordered by id in ascending order.

The result format is in the following example.

Example 1:

Input: 
Seat table:

| id | student |
| -- | ------- |
| 1  | Abbot   |
| 2  | Doris   |
| 3  | Emerson |
| 4  | Green   |
| 5  | Jeames  |


Output: 

| id | student |
| -- | ------- |
| 1  | Doris   |
| 2  | Abbot   |
| 3  | Green   |
| 4  | Emerson |
| 5  | Jeames  |

Explanation: 
Note that if the number of students is odd, there is no need to change the last one's seat.

In [40]:
data = [
    (1,"Juan"),
    (2,"Pedro"),
    (3,"Maria"),
    (4,"Ulises"),
    (5,"Proust")
]
df = spark.createDataFrame(data,("id","Name"))
df.createOrReplaceTempView("data")
df.show()
#Fist Ge Get the Next and Previous Names 
df = df.withColumn("Prev_name",lag("Name").over(Window.orderBy("id")))
df = df.withColumn("nxt_Name",lead("Name").over(Window.orderBy("id")))
df.show()
#The purpose of this code is to create a new column "New_seating" in the DataFrame df. For each row:
#If the "id" value is odd, the "New_seating" column will contain the value from the "nxt_Name" column if it's not null, otherwise, it will contain the value from the "Name" column.
#If the "id" value is even, the "New_seating" column will contain the value from the "Prev_name" column if it's not null, otherwise, it will contain the value from the "Name" column.
df = df.withColumn(
    "New_seating",
    when(df["id"] %2 == 1 , coalesce(df["nxt_Name"], df["Name"] )) # si el id ex impar traer el valor de nxt_Name si no es nulo 
    .when(df["id"] %2 == 0 , coalesce(df["Prev_name"] ,df["Name"]))) # si el id ex par traer el valor de Prev_name si no es nulo 
df.show()
# Finally Remove the undesired Columns
df = df.select(["id","New_seating"]).withColumnRenamed("New_seating","Name")
df.show()

+---+------+
| id|  Name|
+---+------+
|  1|  Juan|
|  2| Pedro|
|  3| Maria|
|  4|Ulises|
|  5|Proust|
+---+------+

24/03/08 16:38:45 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/08 16:38:45 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/08 16:38:45 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/08 16:38:46 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/08 16:38:46 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/08 16:38:46 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/08 16:38:46 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/08 16:38:46 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+---+------+---------+--------+
| id|  Name|Prev_name|nxt_Name|
+---+------+---------+--------+
|  1|  Juan|     NULL|   Pedro|
|  2| Pedro|     Juan|   Maria|
|  3| Maria|    Pedro|  Ulises|
|  4|Ulises|    Maria|  Proust|
|  5|Proust|   Ulises|    NULL|
+---+------+---------+--------+

24/03/08 16:38:46 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/08 16:38:46 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/08 16:38:46 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/08 16:38:46 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/08 16:38:46 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+---+------+---------+--------+-----------+
| id|  Name|Prev_name|nxt_Name|New_seating|
+---+------+---------+--------+-----------+
|  1|  Juan|     NULL|   Pedro|      Pedro|
|  2| Pedro|     Juan|   Maria|       Juan|
|  3| Maria|    Pedro|  Ulises|     Ulises|
|  4|Ulises|    Maria|  Proust|      Maria|
|  5|Proust|   Ulises|    NULL|     Proust|
+---+------+---------+--------+-----------+

+---+------+
| id|  Name|
+---+------+
|  1| Pedro|
|  2|  Juan|
|  3|Ulises|
|  4| Maria|
|  5|Proust|
+---+------+

24/03/08 16:38:46 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/08 16:38:46 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

In [52]:
#SQL 
spark.sql("SELECT * FROM data").show()
spark.sql(
    """
    WITH CTE1 AS (
        SELECT id,Name, 
        lag(Name) OVER (ORDER BY id) as Prev,
        lead(Name) OVER (ORDER BY id) as Nxt
    FROM data
    ) ,
    CTE2 AS (
        SELECT id,
            CASE 
            WHEN id % 2 = 1 THEN coalesce(Nxt, Name)
            WHEN id % 2 = 0 THEN COALESCE(prev , Name) 
            ELSE Name END as new_
        FROM CTE1
    )
    SELECT * FROM CTE2
    """
).show()

# This query  assigns the value of next row to odd rows and prev row to even rows

+---+------+
| id|  Name|
+---+------+
|  1|  Juan|
|  2| Pedro|
|  3| Maria|
|  4|Ulises|
|  5|Proust|
+---+------+

24/03/08 16:47:15 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/08 16:47:15 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/08 16:47:15 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/08 16:47:15 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/03/08 16:47:15 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+---+------+
| id|  new_|
+---+------+
|  1| Pedro|
|  2|  Juan|
|  3|Ulises|
|  4| Maria|
|  5|Proust|
+---+------+